@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.75rem;
}

@keyframes kenburns {
  0% {
    transform: scale(1) translate(0, 0);
  }

  50% {
    transform: scale(1.05) translate(-2%, -2%);
  }

  100% {
    transform: scale(1.1) translate(-4%, -4%);
  }
}

.animate-kenburns {
  animation: kenburns 28s ease-in-out infinite alternate;
}