@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.75rem;
}

@keyframes kenburns {
  0% {
    transform: scale(1) translate(0, 0);
  }

  50% {
    transform: scale(1.05) translate(-2%, -2%);
  }

  100% {
    transform: scale(1.1) translate(-4%, -4%);
  }
}

.animate-kenburns {
  animation: kenburns 28s ease-in-out infinite alternate;
}

.animate-kenburns {
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}

@keyframes bounceSlow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }
}

.animate-bounce-slow {
  animation: bounceSlow 2.5s infinite ease-in-out;
}

@keyframes floatSlow {
  0% {
    transform: translateY(-50%) translateX(0px);
  }

  50% {
    transform: translateY(-52%) translateX(-10px);
  }

  100% {
    transform: translateY(-50%) translateX(0px);
  }
}

